<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <title>Go-Pokemon</title>
</head>
<body class="mt-10 p-4 flex flex-wrap justify-center">

<div class="flex-col">
    <img src="{{ .Image }}">
    <div class="flex flex-wrap justify-center text-6xl">
        <h1 class="font-bold">#{{ .Id }} - {{ .Name }}</h1>
    </div>
</div>
</body>
</html>
